.partners__logo__link {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 10px;
  height: 140px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  flex-grow: 0;
}

.partners__logo__link:hover {
  cursor: pointer;
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}


@media screen and (min-width: 768px) {
  .partners__logo__link {
    width: 220px;
    height: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .partners__logo__link {
    width: 220px;
  }
}